force-app/main/default/flows/sObject_Event_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send SMS to CEO Number</description>
        <name>Send_SMS_Apex_Action</name>
        <label>Send SMS Apex Action</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <actionName>SMS_Utils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsBody</name>
            <value>
                <elementReference>SmsTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>smsSettingsName</name>
            <value>
                <stringValue>CEO_GOLD_ACCOUNT_SMS</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SMSSend</assignToReference>
            <name>goldNotificationSend</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sobjectId</assignToReference>
            <name>id</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Validate the published event record details to perform actions.</description>
        <name>Validate_Input</name>
        <label>Validate Input</label>
        <locationX>578</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Send_SMS_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sObject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Is Send SMS on Account</label>
        </rules>
    </decisions>
    <interviewLabel>sObject Event Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sObject Event Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Log fault exceptions</description>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>578</locationX>
        <locationY>554</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>sObject Event Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>$Record.ReplayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Id__c</field>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_Body__c</field>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>System_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Account record details based on the record id passed to this flow.</description>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS_Apex_Action</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the Gold_Notification_Send__c field on account</description>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gold_Notification_Send__c</field>
            <value>
                <elementReference>SMSSend</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Input</targetReference>
        </connector>
        <object>sObject_Events__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>SmsTemplate</description>
        <name>SmsTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Great news! A customer has hit Gold. &lt;strong&gt;{!Get_Account_Details.Name}&lt;/strong&gt; will get the VIP treatment.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>SMSSend</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
